<!DOCTYPE html>
<html xmlns:"http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>보일러 관리 페이지</title>
</head>
<body>

<h1> 보일러 목록 보기</h1>

<h1> 보일러 ID: 8305</h1>
<style>
  table, tr, td {
    border: 1px solid #bcbcbc;
  }
  table {
    width: 350px;
    height: 200px;
    float: center;
  }
</style>
<table>
<tr>
	<td>시간 </td> <td>온도 측정</td> <td>보일러 상태</td>
</tr>
<tbody>
<tr th:each="list:${list}">
<td><span th:text="${list.time}"></span></td>
<td><span th:text="${list.temp}"></span></td>
<td><span th:text="${list.status}"></span></td>

</tbody>
</table>

</body>

<br>
<a href="/">이전</a><br>
</html>